/*
/ Author: Lacne
/ Date: 2017/06/30
/ Version: 1
/ Modify: contact css樣式彙整;左右移調整;視窗 986px-1300px form 調整。
*/
/*
/ Author: Lacne
/ Date: 2017/07/03.04
/ Version: 2
/ Modify: 1024介面完成
*/
/*
/ Author: Lacne
/ Date: 2017/07/05.06
/ Version: 3
/ Modify: RWD完成
*/
/*talbe trial begins*/
.btn-success{
  background-color: #00c300;
  border-color: #00c300;
}
.btn-success:hover{
  background-color: #00b200;
  border-color: #00b200;
}
.btn-success:visited{
  background-color: #00b200;
  border-color: #00b200;
}
.btn-success:link{
  background-color: #00b200;
  border-color: #00b200;
}
.btn-success:active{
  background-color: #00b200;
  border-color: #00b200;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 8px;
}

/*============================================General====================================*/
body{
  font-family: Microsoft JhengHei;
}

  #contact {
    padding: 50px 200px;/*lacne !! 20170630*/
  }

p {
  font-size: 16px;
}

  /*bootstrap try */
  * {
      box-sizing: border-box;
  }
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .col-md-4 button>#newadd {
    font-weight: bold;
    margin:0px;
    padding-top:0px;
  }
  #newadd {
    font-size: 24px;
    line-height: 150%;
}
@media only screen and (min-width:769px) and (max-width: 1030px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

}
@media only screen and (min-width:986px) and (max-width: 1300px) {
  .form-horizontal .control-label {
    width: 25%;/*lance20170630*/
  }
  .form-horizontal .control-label2 {
    width: 49%;/*lance20170630*/
  }
}
/*========================================================768============================================================*/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
  /*=====================================contact====================*/
  .wf-container-main .content>#contact {
    padding: 50px 20px;/*lance !! 20170630*/
  }
  .wpcf7 form p {
    text-align: center;
  }
}

@media only screen and (max-width: 736px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
@media screen and (max-width:424px){
  h3 {
    font-size: 20px;
  }
}
@media screen and (max-width:320px){
  body{
		width: 320px;
	}
}
