/*
/ Author: Lacne
/ Date: 2017/06/29
/ Version: 2
/ Modify: 聯絡我們(font-size:18px)
*/
/*
/ Author: Lacne
/ Date: 2017/07/03.04
/ Version: 2
/ Modify: 1024介面完成
*/
/*footer*/
a {
  color:#00c300;
}

#footerbox2 hr{
  border: 2px solid #00c300;
}
#footerbox2 .row .col-12{
  padding-left:16px;
}
/*just to test something-can safely remove*/
#footerbox .row .col-12{
  margin-left:16px
}
.footerstyle>p:first-child strong {
  font-size: 30px;/*lance20170703*/
}
.TP {
  padding-bottom: 10px;
  font-size: 12px;/*lance20170703*/
  text-align: center;/*lance20170703*/
}
/*736*/
/*#footerbox2 .row .col-12{
	padding-left:15px;
	padding-right:15px
}*/
