/*
/ Author: Lacne
/ Date: 2017/07/03.04
/ Version: 2
/ Modify: 1024介面完成
*/
/*navbar*/
.navbar-inverse{
  border-color:white;
  background-color:white;
}
.navbar-toggle{
  border-color:white;
  background-color:#ddd;
}
.navbar-brand img{
  width:62px;
}
#myNavbar{
  margin-top:20px;
}
.navbar-nav li a strong{
  color:#00c300;
}

.navbar-inverse .navbar-nav>li>a {
  font-size: 24px;
}
.navbar-inverse .navbar-toggle{
  border-color:white;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border-color:#00c300;
}
@media only screen and (min-width:762px) and (max-width: 1030px) {
  .navbar-inverse .navbar-nav>li>a {
    font-size: 22px;
  }
}
@media only screen and (min-width: 768px) {
  nav {
    height: 90px;/*lance20170703*/
  }
}
@media only screen and (max-width: 767px) {
.navbar-brand img{
  display:none;
}
}
/*1030*/
/*.navbar-nav{
  margin-left:76px
}
.navbar-nav li a strong{
	font-size:20px
}*/
/*768*/
/*#myNavbar{
  text-align:center
}
.navbar-brand img{
  display:none;
}*/
/*736*/
/*.navbar-brand img{
  display:none
}*/
